<!DOCTYPE html>
<html>
<head>
    <title>IPv6 check</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <style type="text/css">
    th, .result {
        text-align: center;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>ipv6.check</h1>
    </div>
    <div class="row">
<!--        <p>
            It is {{ long_date }} and the IPv6 adoption at major websites is bad... Most of those websites
            have the money, time and people to enable IPv6 but still they are only reachable via IPv4....
        </p>
        <p>
            Are you trying to disable IPv6 on your system or network? <a href="http://howtodisableipv6.com/">Click here</a> to learn more.
        </p>
-->        <table class="table table-dense">
            <tr>
                <th>Domaine</th>
                <th>Site internet</th>
                <th>Mail</th>
                <th>NS</th>
            </tr>
            {% for target, result in results.items() %}
            <tr>
                    <td>
                        <strong>{{ target }}</strong>
                    </td>
                    {% for type in query_types %}
                    <td class="result {% if result[type] %}success text-success{% else %}danger text-danger{% endif %}">
                        {% if result[type] %}
                            <i class="fa fa-check"></i>
                        {% else %}
                            <i class="fa fa-close"></i>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr/>
    <div class="row">
        <p>
            Dernière mise à jour: {{ date }}
        </p>
    </div>
</div>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha384-f2005fe98e1862aec9c7decf22a993c0b3e29f8871233430e5a0e6520fc30e1ba5f5f1696db2dc2e1de74c820324a871" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->
</body>
</html>
